{% extends 'layout.html' %} {% block content %}
<main id="main">
    <h2>Browse by Genre{% if genre %}: {{ genre }}{% endif %}</h2>
    <div align="center">{{ left_arrow }}{% for letter in initials %}<a href="{{ url_for('browse_bp.browse_by_genre') }}?genre={{ genre }}&letter={{ letter }}"> {{ letter }}</a> {% endfor %}{{ right_arrow }}</div>
    <table width="100%">
        <tr>
            <th>
                Genres:
            </th>
            <th>{% if genre %}Movies in {{ genre }}:{% else %}Select a Genre{% endif %}
            </th>
        </tr>
        <tr>
            <td width=50% valign="top">
                <ul>{% for genre_name in genre_list %}
                    <li><a href="{{ url_for('browse_bp.browse_by_genre') }}?genre={{ genre_name }}">{{ genre_name }}</a></li>
                {% endfor %}</ul>
            </td>
            <td width=50% valign="top">
                {% if movie_list %}
                <table width="100%">{% for key in movie_list %}
                        <tr><td align="center"><a href="{{ url_for('browse_bp.view_movie_info') }}?movie_name={{ key }}&date={{ movie_list[key] }}">{{ key }}, {{ movie_list[key] }}</a></tr></td>
                {% endfor %}</table>
                {% endif %}
            </td>
        </tr>
    </table>
</main>
{% endblock %}