{% extends 'layout.html' %} {% block content %}
<main id="main">
    <h2>Movie List [{{ first_initial }}]</h2>
    <div align="center">{{ left_arrow }}{% for letter in initials %}<a href="{{ url_for('browse_bp.browse_by_title') }}?letter={{ letter }}"> {{ letter }}</a> {% endfor %}{{ right_arrow }}</div>
    <table width="100%"><th width="60%">Title</th><th width="40%">Release Year</th>
    {% for key in movie_list %}<tr>
        <td align="center"><a href="{{ url_for('browse_bp.view_movie_info') }}?movie_name={{ key }}&date={{ movie_list[key] }}">{{ key }}</a></td><td align="center">{{ movie_list[key] }}</td>
    </tr>{% endfor %}
    </table>
</main>
{% endblock %}