<nav id="nav">
  <!--<img id="logo" src="{{ url_for('static', filename='cam3.png') }}" />-->

  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Logout</a>

  <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
  </div>
</nav>
