{% extends 'layout.html' %} {% block content %}
    <main id="main">
    <h2>search movies</h2>
    <div><form method="post" action="{{ handler_url }}">
        {{ form.search_string.label }}: {{ form.search_string }}
        {{ form.genre_radio_buttons.label }}: {{ form.genre_radio_buttons }}<br>
        {{ form.title_checkbox.label }}: {{ form.title_checkbox }}
        {{ form.actor_checkbox.label }}: {{ form.actor_checkbox }}
        {{ form.director_checkbox.label }}: {{ form.director_checkbox }}
        <div align="right">{{ form.submit }}</div>
    </form></div>
        {% if movies %}
            <p><strong>Results:</strong></p>
        <table>{% for key in movies %}<tr><td><a href="{{ url_for('home_bp.home') }}?movie_name={{ key }}&date={{ movies[key] }}">{{ key }}</a></td><td align="center">{{ movies[key] }}</td></tr>{% endfor %}</table>
        {% endif %}
    </main>
{% endblock %}